name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.17'
          otp-version: '27.1.2'

      - name: Install dependencies
        run: mix deps.get

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-

  linting:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Elixir
        id: setup-beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.17'
          otp-version: '27.1.2'

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Restore PLT cache
        id: plt-cache
        uses: actions/cache@v4
        with:
          path: |
            _build/dev/*.plt
            _build/dev/*.plt.hash
          key: plt-${{ runner.os }}-otp-${{ steps.setup-beam.outputs.otp-version }}-elixir-${{ steps.setup-beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            plt-${{ runner.os }}-otp-${{ steps.setup-beam.outputs.otp-version }}-elixir-${{ steps.setup-beam.outputs.elixir-version }}-

      - name: Build PLT
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: mix dialyzer --plt

      - name: Run mix_audit for dependency vulnerabilities
        run: mix deps.audit

      - name: Run formatter check
        run: mix format --check-formatted

      - name: Run Credo for linting
        run: mix credo --strict

      - name: Run Dialyzer for type checking
        run: mix dialyzer

      - name: Run Sobelow for security analysis
        run: mix sobelow --config

  testing:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.17'
          otp-version: '27.1.2'

      - name: Install dependencies (if not cached)
        run: mix deps.get

      - name: Run tests
        run: mix test